<h2>Login usuarios</h2>
<hr>
<form action="">
    <input type="mail" id="email" name="email" placeholder="Ingrese su correo">
    <input type="password" id="password" name="password" placeholder="Ingrese la contraseña">
    <input type="submit" id="btnSubmit" value="Ingresar">
    <br>
    <div id="mensajes"></div>
</form>
<div>
    <a href="/api/sessions/github" class="github-login-btn">
        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo">
        Iniciar sesión con GitHub
    </a>
</div>

<script src="/js/login.js"></script>